<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="SQLConnectionString" value=""/>
  <add key="url" value="http://rcpsc.rcpprodf.premierinc.com/"/>
  <add key="APIUrl" value="https://cecityapi.rcpprodf.premierinc.com/"/>
  <add key="APIAccountKey" value="rcpscfd04e5ef4365a53f639b86af76e" />
  <add key="APIAccountPassword" value="test" />
  <add key="LoginPassword" value="test" />
  <add key="APIToken" value="lgcKgqFR9HRAa8IdKvUZVLHYrm6WGsXjVJU6cnt9KPV5LlZCaW3PlgMkrvjqmPfYFeQiu2JkzxGHYaZzgjU%2b8ziPfLXGxTMH6F9GEt%2boopvJTdfDeWJSxjciD4zPrebN4pitWK42ZlkFOHyFljV%2fhSbvAJCoOhEk7zTWWhPEr0a7px1pkvBCbOK2WOsDKlyLy2p3jkt5ljVMWvILUuVUEsvzF9Hs4oBJdKkKcf9CGN0jOc0w9K4f1c0ohCcjh8ZL0kQ1eqoXdP5qls2ICLAuX5wtueaUgQFB0WGTHWx2lUUC%2bgBKRcka4q%2bqu6JYK%2bHmdoTiW188PKFlZUdbulLX%2fms45AYQMLElzVr4%2fNrYmYxKJedJ0eoEtyepare0%2fPGvEYGGKevovRrCLa7AiSbImtf%2fDg1U5QUMH9m8vz%2bqelviQ7qx8G%2bnw1TpG0tvYvQFu39c1uePFUuamwxv%2bU03r0m%2f2h%2fd7itkxP8ayWJFcIUA9CP7cWdyx6QmvuS8acyK361KZGdycRLSvMI19wYkqcHyAzPfUWLPfffoyelRPsEu6%2ft5nYgGV%2bGmK7BTqoGuKH%2bkfZsJm3byuCXMgIzwxH8Ai9SZbsaGFa3Pxd%2fMZD5eYApYYUOI%2fJIJxHiTiYrjnExcsXjKtcW0lYURBGHoqY%2f%2bzCCpT4bakTwyEmh3ulDb%2fWSvn77hA5rN7luQQa6q84s6PGhkJ0s6x8fF5tK7fhA7elJfNvfu61iBgGBC8r4uu5suHCbORgx1BcMwInUI" />
  <add key="CredentialStaffUserNamePER" value="2103403" />
  <add key="CredentialStaffUserNameDiploma" value="2103403" />
  <add key="PERProgramCode" value="TA_Program1" />
  <add key="DiplomaProgramCode" value="TA_DiplomaProgram1" />
  <add key="LSURL" value="https://lifetimesupport.rcpprodf.premierinc.com/"/> <!--Adding Lifetime Support and CME360 url's so that their respective projects can call these URLs in their code-->
  <add key="CME360URL" value="http://cme360.rcpprodf.premierinc.com/Apps/Authenticate/"/>
</appSettings>
