<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="SQLConnectionString" value=""/>
  <add key="url" value="http://rcpsc.rcpprodw.premierinc.com/"/>
  <add key="APIUrl" value="https://cecityapi.rcpprodw.premierinc.com/"/>
  <add key="APIAccountKey" value="rcpsc51e1e424e7ea9a409bba621d949" />
  <add key="APIAccountPassword" value="test" />
  <add key="LoginPassword" value="test" />
  <add key="APIToken" value="lgcKgqFR9HRAa8IdKvUZVLHYrm6WGsXjVJU6cnt9KPV5LlZCaW3PlgMkrvjqmPfYFeQiu2JkzxF5SKc5Qm2mal1H9NWPmf4mWs3%2fYUdwkuD2MPOWNSpFyjYJLTeKUab4rguuCldfedW%2bMcD7ijkUw5iUPYmtQi29YGajqu4mcLv6dmzBognTnHB0sZlCJRyEmgvPlAKjRqqTmvZKVyh%2fqvseD3XBx5Qi9b8uunRPEd2DvSvsSsQcdV6uDLp16ex29hv8SeDDniUmDtIipDSh6KYqoc62235MOhbx8vLQTQv8Cnm7xY5dwbSY5hVFYmeGaZ68xP9NsCEcdopq8EoS7Pbay3pBjxU1zEQ2VyE8FU%2bTwP%2b3Vh3F4smP7skIbvhx8l2oMMg0SmHNkrNQtxCmsY%2fwDR9xVu3MCn0Juyq1IG8Rw5XLO1UTi5UEQyXYepgVKHuxY2c3%2blqWWSKBjOlJeeDtrSAPwO%2bdSIpLBXG2nO7MEailBR8%2bXJkUb5lXg5fvAXIOcipd1sxCJgRCi0TLwUIlt4o7oWB8OkCW7c5VEvvqKrCz7hScF3HQS%2fjyGbbVy5tOtI3aE3rM1z9vPxtYYDNKxGgivdcZwxJB8xP%2b8%2bNgJ8euH6oxrIXZDad6UaIadiQsZ7KroD3hCd1ubZTGR7Gx9AMdH9vL51fNkpAwY0StI%2bKnHO9h5pILF6cwFGtQg%2b5LSt56e3oIvBBIbI1mWMgepZH%2bkKXy7pStz9rmq0mtM1KZvjArLz7YjVQ6qlnd" />
  <add key="CredentialStaffUserNamePER" value="2103403" />
  <add key="CredentialStaffUserNameDiploma" value="2103403" />
  <add key="PERProgramCode" value="TA_Program1" />
  <add key="DiplomaProgramCode" value="TA_DiplomaProgram1" />
  <add key="LSURL" value="https://lifetimesupport.rcpprodw.premierinc.com/"/> <!--Adding Lifetime Support and CME360 url's so that their respective projects can call these URLs in their code-->
  <add key="CME360URL" value="http://cme360.rcpprodw.premierinc.com/Apps/Authenticate/"/>
</appSettings>

