<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="SQLConnectionString" value=""/>
  <add key="url" value="http://rcpsc.cmedevw.premierinc.com/"/>
  <add key="APIUrl" value="http://cecityapi.cmedevw.premierinc.com/"/>
  <add key="APIAccountKey" value="DEVSAIDTHEYDONTHAVEIT" />
  <add key="APIAccountPassword" value="test" />
  <add key="LoginPassword" value="test" />
  <add key="APIToken" value="igtezv26U5TtqdCoq%2fzTESVC5hb27z7szyCiMSJuvjvahqAIiQWOZv2trJig3nPAe3Xeo6r0hDiu%2bPBLIRWaG9BEELBCKSoAW16ZjYV2ii3I68jQFDmiRpo07mgALl62hNBMrf%2fApB9l%2fvkkDfA00F8oNDo%2bsfDymjnXaLe0X3gXCDHSPOpC7QxbXQE0WQ9d6KbUWcN5H9YMrwhrUAluRkJRRDpGV%2bWxGpOAQXVm08t4md7%2bZIV77fQVFQiTtHl6hwyHGW6hLtTAODMIcipia8Ch9so%2bwKs1c8Xtz9pH6dPxPZtc%2f15eT2u%2b8EPiyw4%2b8KbvKQFl%2fldnnTpOPYchWP1Tmv6N7VrLx%2b92sV2eSSprJMCrd3K2E%2frnU6snAO%2bv44GUJDXJoMETis2xlMMyQoEMMRMwxCBc4fObQ8tklXcNVJ0WO4XmOpdvo9H8y77y08JebHgo5t9QM3cTZm18pLTwgJyrg9N7xx7xg39VuO0hXcT0xuncXzhDbgiIZaZrwb3ooHwqHZA5oywQb32qGBOq%2fULYisI8vx0YRVzUD203yguttB55ubXXzlF5bS6tysY%2fsP1Duk1T4oL%2bSuWRaO200mJpBIM4NmMd33ybk%2bU8lZ5aGFbT%2fgAptCQ2KcMxBQnYP3H4q37lGPdqs5MsWW5opNeEV41h00pamsDW55kN%2b3ARx90Ko9GLgCJITas0wHmwoAESOyd%2bk0OpQADDe6XQQ8cdnYHrVwFkKpzENY0cO5vF6Vmy5g%2f3Wvfec2j6KK0O7BSGMBI%3d" />
  <add key="CredentialStaffUserNamePER" value="RCPSC_CU1" />
  <add key="CredentialStaffUserNameDiploma" value="cu1" />
  <add key="PERProgramCode" value="TA_Program1" />
  <add key="DiplomaProgramCode" value="TA_ProgramDiploma1" />
  <add key="LSURL" value="http://lifetimesupport.cmedevw.premierinc.com/"/> <!--Adding Lifetime Support and CME360 url's so that their respective projects can call these URLs in their code-->
  <add key="CME360URL" value="http://cme360.cmedevf.premierinc.com/Apps/Authenticate/"/>
</appSettings>

