<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="SQLConnectionString" value=""/>
  <add key="url" value="http://rcpsc.cmedevf.premierinc.com/"/>
  <add key="APIUrl" value="http://cecityapi.cmedevf.premierinc.com/"/>
  <add key="APIAccountKey" value="rcpsccf7739c114774a9caa82d70018da86d5" />
  <add key="APIAccountPassword" value="test" />
  <add key="LoginPassword" value="test" />
  <add key="APIToken" value="lgcKgqFR9HRAa8IdKvUZVLHYrm6WGsXjVJU6cnt9KPV5LlZCaW3PlgMkrvjqmPfYFeQiu2JkzxGHYaZzgjU%2b8ziPfLXGxTMH6F9GEt%2boopvJTdfDeWJSxjciD4zPrebN4pitWK42ZlkFOHyFljV%2fhSbvAJCoOhEk7zTWWhPEr0YXXHbbrzfEvDCsxx22CeZRJQvh1P2BGU%2bVAxNX6aJXxemTRPGrtRIeH9mMF1XYZ07mSVTpcu7KZh7nEkSk5fR7Vz0a2olWbDXu4zyRXbIBmi4UGBLLH5CdNThiebvweHuYiwh9Sjoj18kIqLs1C52dmuR2iWa%2besMk%2bwExBiGm09I4GnVjfQ3tQJAX9CEMMEBLdJIqdHvBsXz%2fEn%2bXF53%2fNEKu%2bOhz%2b1FuJ1W7AArcHX5afsRtu%2fJuGNzDYTPeOE6QnE7f3vJAuTFYKXtuVLTVStzB4bAcEzEBvwzR5%2fdB9LDBL1612t%2f6QSRWiMPzUWxb8xiaoGQcgTEQlEWcaao0MKfcB8e0wZxFneZgZanxhBtqFXD1ln7sLn7W7enlYX8mrRtxWE%2f6jRBc7w0vajITx8tgpTWIF9r6ex3tnJ%2frICyctAYlONLmDCZF7mMCbZgD0FrJCeGtRtu4fTSd8d8bU9WtlwvZiIId3yFt1kH7%2bERW41Yy9b6VVK7PtsM97O9YMBeaF2htMJH0ou889HnZd9dmjocvXWMYXUsHwWAcaRh%2bygGoOK4x0nTosSQZJ2JVTaULHpIAP9Yg6STqeXki" />
  <add key="CredentialStaffUserNamePER" value="2103403" />
  <add key="CredentialStaffUserNameDiploma" value="2103403" />
  <add key="PERProgramCode" value="TA_Program1" />
  <add key="DiplomaProgramCode" value="TA_DiplomaProgram1" />
  <add key="LSURL" value="http://lifetimesupport.cmedevf.premierinc.com/"/> <!--Adding Lifetime Support and CME360 url's so that their respective projects can call these URLs in their code-->
  <add key="CME360URL" value="http://cme360.cmedevf.premierinc.com/Apps/Authenticate/"/>
</appSettings>

