<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="SQLConnectionString" value=""/>
  <add key="url" value="https://rcpsc.community360qa.net/"/>
  <add key="APIUrl" value="https://cecityapi.community360qa.net/"/>
  <add key="APIAccountKey" value="RCP_Mobile_Favequest" />
  <add key="APIAccountPassword" value="Cr8Quvaxe7rawa8*" />
  <add key="LoginPassword" value="test" />
  <add key="APIToken" value="lgcKgqFR9HRAa8IdKvUZVLHYrm6WGsXjVJU6cnt9KPV5LlZCaW3PlgMkrvjqmPfYFeQiu2JkzxF5SKc5Qm2mal1H9NWPmf4mWs3%2fYUdwkuD2MPOWNSpFyjYJLTeKUab4rguuCldfedW%2bMcD7ijkUw5iUPYmtQi29YGajqu4mcLv%2bCu4LcHqZW47bqUEX4CbHF%2fkcye%2fzsI3U%2f%2bbImP3Se21GaKD3I%2f0tVJy8fq6ssIpomaJegn2WXCaZD%2bguPrvXGrq7pPBGimaCHtczuhx%2bSX2XKPJful00y5KTsnhgtJglugUHuZO4%2fokJlrfWpmg%2bpTdbGDjwpBzuYFO%2bVga0mpH7%2b5g6BO8quu3Gg5OTgUjxnC7tD6VJJQuMIddPdfBl7vEf3WFv79TAOBjPYHLPDEb5BSoc6SjWjj7FP5UtQzn7rCvRn0kP4GzojHvQYtQg0cNXfLo1x%2bvlqCPwszKGRLNHj5YdnED39sXpZAsUSmOIj82%2bscMOu50Tm9eGiu3sjpDYJxOBehwsfLIhIzB1713a0lQQ3BNVujJ2WqYK549j7%2bWK0OeOPDNrKBlwzu9O%2fmQTHbpm8pPLpjQ1QDN9nJIXj9s3vrPfBDSUUSGv8Ra3pDVI2xJghjyQxnnblG234ofUZehRKNMZyXxOCzRU79S1ftAPo4Bs3UJjxAfRc0372%2b%2fsp%2fY6pS7ARckf9b%2b%2bSq0On7h6LVBjiXfYMh0VxVd131R1Rire2cYmqcQTMkmGOcxfqXAsgymMy3Z5lgKIcfcCcm7sEEQ%3d" />
  <add key="CredentialStaffUserNamePER" value="RCPSC_CU1" />
  <add key="CredentialStaffUserNameDiploma" value="cu1" />
  <add key="PERProgramCode" value="TA_Program1" />
  <add key="DiplomaProgramCode" value="TA_ProgramDiploma1" />
  <add key="LSURL" value="http://lifetimesupport.community360qa.net/login"/> <!--Adding Lifetime Support and CME360 url's so that their respective projects can call these URLs in their code-->
  <add key="CME360URL" value="http://www.cme360.net/Apps/Authenticate/"/>
</appSettings>