<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="SQLConnectionString" value=""/>
  <add key="url" value="https://tp.community360.net/"/>
  <add key="APIUrl" value=""/>
  <add key="APIAccountKey" value="" />
  <add key="APIAccountPassword" value="" />
  <add key="LoginPassword" value="test" />
  <add key="APIToken" value="" />
  <!--Adding Lifetime Support and CME360 login url's so that other projects can call these URLs in their code-->
  <add key="CME360URL" value="http://www.cme360.net/Apps/Authenticate/"/>
  <add key="LSURL" value="http://lifetimesupport.community360.net/"/>
</appSettings>
