<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="SQLConnectionString" value=""/>
  <add key="url" value="https://tp.releasecandidate-community360.net/"/>
  <add key="APIUrl" value="https://cecityapi.releasecandidate-community360.net/"/>
  <add key="APIAccountKey" value="tpuogrhs7d5kg6qds9g2uommd94c" />
  <add key="APIAccountPassword" value="test" />
  <add key="APIToken" value="lgcKgqFR9HRAa8IdKvUZVLHYrm6WGsXjVJU6cnt9KPV5LlZCaW3PlvLDZmZAxwYF4NjXUiVZAa%2fMnuFvVrpvik%2f1Eg9V%2fBtCZGSRW5rjC7WGp%2ftINlBGtaGuADryLG9BnBfY71H%2bpP%2buRQukmRJojfVuo2WDiLL77e9Aom8yJ0la53nWqB8twmQmZiZwNNxU3YmATYCR7EZXLYodNbH4puoDQUaOzeItNTzcy%2bHhHb1u6PB8NfTdVbSN7vaFH%2boH7%2bg%2bdFbY5hhj%2fxN8aYsqsCqvj4VTQZWWvCLA4Waef6FovPUmbbDlaqdrWm5g21ZwccyJ6r4lfdfM5wVHMBalcPc80RReUTAhbsgS8QlaW%2bzVB7uhCca6KaHRyCLI%2b6X2ceRm13WlikRDVuu99669a8jOvA1QSjtzxLis8cgak8YzjuVU72KX6essJ3BSa%2b1HpaowCHs6i3W32HqAqS6VUSv4%2fJMxc8UI6tD4llqVhE1HbdQ5i49J1lfkMd%2b4ylN9aze6wFHzDtcPe3hs7KZ82udpDMNHsb8ZXwCXXO5%2fAERj1j6qZXqANW%2frkze%2bkhU9J75cpJ03fNXJLFe2VIPjdetANhpk61Gh%2fBRwJbGWn7R336jkFmzL4hLFwCliPo5Ay%2bENzL9qVi2bXSMGLShU%2f1QYYbRqI%2b%2b8%2bsjo6TJFiy0Hj%2fVcsayBOQYwJslFUyPxymwtAd6wcZIrmqpibdA8XIP4y2L589xVKho9Xo5W%2faU%3d" />
  <add key="LoginPassword" value="test" />
  <!--Adding Lifetime Support and CME360 url's so that other projects can call these URLs in their code-->
  <add key="CME360URL" value="http://www.releasecandidate-cme360.net/Apps/Authenticate/"/>
  <add key="LSURL" value="http://lifetimesupport.releasecandidate-community360.net/"/>
</appSettings>

