<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="SQLConnectionString" value=""/>
  <add key="url" value="https://aafprs.community360.net/"/>
  <add key="APIUrl" value="https://cecityapi.releasecandidate-community360.net/"/>
  <add key="APIAccountKey" value="rcpsccf7739c114774a9caa82d70018da86d5" />
  <add key="APIAccountPassword" value="test" />
</appSettings>

