<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="SQLConnectionString" value=""/>
  <add key="url" value="https://rcpsc.releasecandidate-community360qa.net/"/>
  <add key="APIUrl" value="https://cecityapi.releasecandidate-community360qa.net/"/>
  <add key="APIAccountKey" value="rcpsc51e1e424e7ea9a409bba621d949" />
  <add key="APIAccountPassword" value="test" />
</appSettings>

