<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="SQLConnectionString" value=""/>
  <add key="url" value="http://cfpc.releasecandidate-community360.net/"/>
  <add key="APIUrl" value="https://cecityapi.releasecandidate-community360.net/api/user"/>
  <add key="APIAccountKey" value="" />
  <add key="APIAccountPassword" value="" />
  <add key="Token" value="lgcKgqFR9HRAa8IdKvUZVLHYrm6WGsXjVJU6cnt9KPV5LlZCaW3PlpHPx3sDMFX726XR7saZYkz%2frIkk0Vml5XLiz50BRscHa8CWoqgWSMYxRmswzBidiCufpzC5v8PyA7iF7R%2fEsn3b%2fxyLYBY%2bQu2VjFeMIcc4lzg4p993ytVy%2bEgV%2bvvjdkvn5b5IX5XxJE3P%2fjmhqlcp0vCYtyxSB1%2bdLMm1%2bOFokE8jLNzh1hBfZKdPI2NAAxPAM5c7wx36yT4uLmDlgS1iH756baSHTZr9FxhcciFk3%2fkzyYtOuGQUXdT7LUNy%2fYoBVED8r3wQSEUiuIXurpc0Ma%2bK52yurNxdMalZbsPWGtCuKpKy%2b5UPwfpGvvuggGNeagVkhu1Z36FIU7M1yLELbvwvPc4w8DuzCOcgENnWpgmEHzy2ufdELEIceMJYsYbtWi62Y9%2f14l%2fS%2bzYg7pBf9t6jD7wgLkH6LKB%2bQnWiGH1PwK%2f2TGMsWItWiYfPU9sb97qQ6fZE7lzabG58xUjYeJ2IJFTEU6uJtPkriVPa8XRbUzk5KN8ulwNpfqo1giHSXs8JotLuVeDAcOm%2bXCd7VR4uAj7gCucQP67ZS%2fKZKq8AItunVtiNsANy6AaUyK7x5kxXa%2brjInNbwizZFXg0XU1D5PbI7pUKiKi9yNmd%2fSyzofv5k2gP9j30Ox85Gdu3gst%2bAbrW5Y%2fPQP973mNLbjAsiu4LnH7ynYE9k9CPq%2bS8JWU9WG2gKWqibNSSAs%2b%2bNyOqsSkz" />
</appSettings>

