<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="SQLConnectionString" value=""/>
  <add key="url" value="https://nof.community360.net/"/>
  <add key="APIUrl" value=""/>
  <add key="APIAccountKey" value="" />
  <add key="APIAccountPassword" value="" />
</appSettings>

<!--Note that the above doesnt work yet for API calls. We have to change the API url in the code (or we can change it here and refactor the code)
for the token. See the document "Generate Token.doc" for more info-->